<app-barrasup></app-barrasup>

<section name="titleCrudSection" style="margin-top: 30px">
    <div class="container">
        <h1>Control de libros</h1>
        <hr />
        <br /><br />
        <div class="row justify-content-center">
            <div class="col-12 col-md-3">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button">Nuevo</button>
                </div>
            </div>
        </div>
        <br />
        <app-ebooks></app-ebooks>
    </div>
</section>
