<div class="row justify-content-center">
  <div class="col-12 col-md-3">
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Nuevo</button>
    </div>
  </div>
</div>
<br />

<table class="table table-striped caption-top">
    <caption>LISTADO DE LIBROS</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">nombre</th>
        <th scope="col">Autor</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Actualizar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-libro [ngForOf]="arrLibros" let-i="index" >
        <tr *ngIf="libro.estado == 1 && libro.editorial == idEditorial;"> 
            <th scope="row">{{ (i + 1) }}</th>
            <td><input type="text" name="nombre{{libro.idl}}Input" id="nombre{{libro.idl}}Input" value="{{libro.nombre}}"></td>
            <td><input type="text" name="autor{{libro.idl}}Input" id="autor{{libro.idl}}Input" value="{{libro.autor}}"></td>
            <td><input type="number" name="precio{{libro.idl}}Input" id="precio{{libro.idl}}Input" value="{{libro.precio}}"></td>
            <td><input type="number" name="cantidad{{libro.idl}}Input" id="cantidad{{libro.idl}}Input" value="{{libro.cantidad}}"></td>
            <td><button class="btn btn-warning" (click)="actualizarLibro('nombre' + libro.idl + 'Input', 'autor' + libro.idl + 'Input', 'precio' + libro.idl + 'Input', 'cantidad' + libro.idl + 'Input', libro.idl)">actualizar</button></td>
            <td><button class="btn btn-danger" (click)="eliminarLibro(libro.idl)">eliminar</button></td>
        </tr>
      </ng-template>
    </tbody>
  </table>

  <!-- Modal -->
  <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Libro</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
            <div>
                <div class="form-floating mb-3">
                    <input [(ngModel)]="libro.nombre" type="text" class="form-control" id="nombreInput"
                        placeholder="Nombre" name="nombreInput" />
                    <label for="nombreInput">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                    <input [(ngModel)]="libro.autor" type="text" class="form-control" id="autorInput"
                        placeholder="Autor" name="autorInput" />
                    <label for="autorInput">Autor</label>
                </div>
                <div class="form-floating mb-3">
                    <input [(ngModel)]="libro.precio" type="number" class="form-control" id="precioInput"
                        placeholder="precio" name="precioInput" />
                    <label for="precioInput">precio</label>
                </div>
                <div class="form-floating mb-3">
                    <input [(ngModel)]="libro.cantidad" type="number" class="form-control" id="cantidadInput" 
                        placeholder="Cantidad" name="cantidadInput" />
                    <label for="cantidadInput">Cantidad</label>
                </div>
                <div class="form-floating mb-3">
                  <ng-multiselect-dropdown name="generosInput"
                    [placeholder]="'Generos'"
                    [settings]="dropdownSettings"
                    [data]="dropdownList"
                    [(ngModel)]="selectedItems"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                  >
                  </ng-multiselect-dropdown>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Imagen Libro</label>
                    <input [(ngModel)]="libro.imagen" class="form-control" type="file" name="formFile" id="formFile" (change)="onFileChanged($event)">
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="crearLibro()">Save changes</button>
      </div>
    </div>
  </div>
</div>