<app-barrasup></app-barrasup>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 80vh !important;">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header">Bienvenido a BookSA</div>
                <div class="card-body">
                    <h3 class="card-title">LOGIN</h3>
                    <p class="card-text">Ingresa tus credenciales para acceder!</p>
                    <form>
                        <div class="mb-3">
                            <select [(ngModel)]="selectedLogin" name="tipoUsuarioSelect" id="tipoUsuarioSelect" class="form-select">
                                <option value="1">Cliente</option>
                                <option value="2">Editorial</option>
                            </select>
                        </div>
                        <div class="form-floating mb-3">
                            <input [(ngModel)]="userLogin.usuario" type="email" class="form-control" id="userInput"
                                placeholder="Usuario" name="userInput"/>
                            <label for="userInput">Usuario</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input [(ngModel)]="userLogin.contra" type="password" class="form-control" id="passwordInput" 
                                placeholder="Contraseña" name="passwordInput"/>
                            <label for="passwordInput">Contraseña</label>
                        </div>
                        <button class="btn btn-primary" (click)="login()">Ingresar</button>
                    </form>
                </div>
                <div class="card-footer text-muted"><a href="/registrarse">Aun no tienes usuario? Registrate!</a></div>
            </div>
        </div>
    </div>
</div>